<section class="editor-previewer">
    <section class="code-editor popup-host">
        <div class="editor-toolbar">
            <ul class="editor-menu">
                <li class="editor-menu-item" (click)="bold()">
                    <fa-icon [icon]="iconBold"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="italic()">
                    <fa-icon [icon]="iconItalic"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="strikeThrough()">
                    <fa-icon [icon]="iconStrikethrough"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="horizontalRule()">
                    <fa-icon [icon]="iconHorizontalRule"></fa-icon>
                </li>
                <li class="editor-menu-item">
                    <div class="dropdown">
                        <fa-icon [icon]="iconHeading"></fa-icon>
                    <div class="dropdown-item flex-col">
                        <button class="dropdown-btn">H1</button>
                        <button class="dropdown-btn">H2</button>
                        <button class="dropdown-btn">H3</button>
                        <button class="dropdown-btn">H4</button>
                        <button class="dropdown-btn">H5</button>
                        <button class="dropdown-btn">H6</button>
                    </div>
                </div>
                </li>
                <li class="editor-menu-item" (click)="ul()">
                    <fa-icon [icon]="iconListUl"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="ol()">
                    <fa-icon [icon]="iconListOl"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="checkList()">
                    <fa-icon [icon]="iconCheckList"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="blockQuote()">
                    <fa-icon [icon]="iconBlockQuote"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="table()">
                    <fa-icon [icon]="iconTable"></fa-icon>
                </li>
                <li class="editor-menu-item">
                    <fa-icon [icon]="iconLink"></fa-icon>
                </li>
                <li class="editor-menu-item">
                    <fa-icon [icon]="iconImage"></fa-icon>
                </li>
                <li class="editor-menu-item">
                    <fa-icon [icon]="iconCode"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="insertCode()">
                    <fa-icon [icon]="iconHtmlEntity"></fa-icon>
                </li>
                <li class="editor-menu-item">
                    <fa-icon [icon]="iconEmoji"></fa-icon>
                </li>
                <li class="editor-menu-item" (click)="toggleEditorTheme()">
                    <fa-icon [icon]="iconSun"></fa-icon>
                </li>
            </ul>
        </div>
        <!-- Popup Menu -->
        <div class="popup-menu flex">
            <div class="popup-item">
                <div class="header flex">
                    <div class="title">
                        <h3>Link</h3>
                    </div>
                    <fa-icon [icon]="iconCancel"></fa-icon>
                </div>
            </div>
        </div>
        <!-- Editor -->
        <ngx-monaco-editor class="variable-textarea" [options]="editorOptions" [(ngModel)]="code"
            (onInit)="onInit($event)">
        </ngx-monaco-editor>
    </section>
    <section class="markdown-parser">
        <!-- parser -->
        <markdown lineNumbers lineHighlight commandLine emoji katex class="variable-binding" [data]="code"></markdown>
    </section>
</section>
<button (click)="bolder()">vlic</button>