

/* @site-heading-color: fade(#000, 85%);
@site-text-color: fade(#000, 85%);
@site-text-color-secondary: fade(#000, 45%);
@site-border-color-split: #dedede;
@site-header-box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
@site-markdown-code-bg: #f2f4f5;
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
@border-color-split: hsv(0, 0, 94%);
@code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@border-radius-base: 2px;
@font-size-base: 14px;
@primary-color: #0070cc;
@line-height-base: 1.5715;
@gray-1: #fff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #f0f0f0;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #434343;
@gray-10: #262626;
@gray-11: #1f1f1f;
@gray-12: #141414;
@gray-13: #000;
@border-color: rgba(229, 231, 235, 100);
@component-background: #141414;
@geekblue-base: #2f54eb;
@white: #ffffff; */

markdown {
    color: #333;
    font-size: 14px;
    line-height: 2;
  }
  
  .highlight {
    line-height: 1.5;
  }
  
  markdown img {
    max-width: 'calc(100% - 32px)';
  }
  
  markdown p > img {
    margin: 34px 0;
    box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
  }
  
  markdown p > img markdown-inline-image {
    margin: 0;
    box-shadow: none;
  }
  
  markdown h1 {
    margin-top: 8px;
    margin-bottom: 20px;
    /* color: @site-heading-color; */
    font-weight: 500;
    font-size: 30px;
    font-family: Avenir, sans-serif;
    line-height: 38px;
  }
  
  markdown h2 {
    font-size: 24px;
    line-height: 32px;
  }
  
  markdown h2,
  markdown h3,
  markdown h4,
  markdown h5,
  markdown h6 {
    clear: both;
    margin: 1.6em 0 0.6em;
    /* color: @site-heading-color; */
    font-weight: 500;
    font-family: Avenir,  sans-serif;
  }
  
  markdown h3 {
    font-size: 18px;
  }
  markdown h4 {
    font-size: 16px;
  }
  markdown h5 {
    font-size: 14px;
  }
  markdown h6 {
    font-size: 12px;
  }
  
  markdown hr {
    clear: both;
    height: 1px;
    margin: 56px 0;
    /* background: @site-border-color-split; */
    border: 0;
  }
  
  markdown p,
  markdown pre {
    margin: 1em 0;
  }
  
  markdown ul > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: circle;
  
    /* .ant-row-rtl & {
      margin-right: 20px;
      margin-left: 0;
      padding-right: 4px;
      padding-left: 0;
    }
    &:empty {
      display: none;
    } */
  }
  
  markdown ol > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: decimal;
  
    /* .ant-row-rtl & {
      margin-right: 20px;
      margin-left: 0;
      padding-right: 4px;
      padding-left: 0;
    } */
  }
  
  markdown ul > li > p,
  markdown ol > li > p {
    margin: 0.2em 0;
  }
  
  markdown code {
    margin: 0 1px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    /* background: @site-markdown-code-bg; */
    /* border: 1px solid @border-color-split; */
    border-radius: 3px;
  }
  
  markdown pre {
    /* font-family: @code-family; */
    /* background: @site-markdown-code-bg; */
    /* border-radius: @border-radius-base; */
  }
  
  markdown pre code {
    margin: 0;
    padding: 0;
    overflow: auto;
    /* color: @site-text-color; */
    /* font-size: @font-size-base - 1px; */
    background: #f5f5f5;
    border: none;
  }
  
  markdown strong,
  markdown b {
    font-weight: 500;
  }
  
  markdown > table {
    width: 100%;
    margin: 8px 0 16px;
    empty-cells: show;
    /* border: 1px solid @site-border-color-split; */
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  markdown > table th {
    color: #5c6b77;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
  }
  
  markdown > table th,
  markdown > table td {
    padding: 16px 24px;
    text-align: left;
    /* border: 1px solid @site-border-color-split; */
  }
  
  markdown blockquote {
    margin: 1em 0;
    padding-left: 0.8em;
    /* color: @site-text-color-secondary; */
    font-size: 90%;
    border-left: 4px solid red;
  
    /* .ant-row-rtl & {
      padding-right: 0.8em;
      padding-left: 0;
      border-right: 4px solid @site-border-color-split;
      border-left: none;
    } */
  }
  
  markdown blockquote p {
    margin: 0;
  }
  
  markdown .anchor {
    margin-left: 8px;
    opacity: 0;
    transition: opacity .3s;
  
    /* .ant-row-rtl & {
      margin-right: 8px;
      margin-left: 0;
    } */
  }
  
  markdown .waiting {
    color: #ccc;
    cursor: not-allowed;
  }
  
  markdown a.edit-button {
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
  
    /* .ant-row-rtl & {
      margin-right: 8px;
      margin-left: 0;
    }
    i {
      color: @site-text-color-secondary;
  
      &:hover {
        color: @primary-color;
      }
    }
  
    .anticon {
      display: block;
      font-size: 16px;
    } */
  }
  
  markdown h1:hover .anchor,
  markdown h2:hover .anchor,
  markdown h3:hover .anchor,
  markdown h4:hover .anchor,
  markdown h5:hover .anchor,
  markdown h6:hover .anchor {
    display: inline-block;
    opacity: 1;
  }
  
  markdown > br,
  markdown > p > br {
    clear: both;
  }
  
  markdown.api-container {
    overflow-x: auto;
  }
  
    table {
      min-width: 720px;
      margin: 2em 0;
      /* font-size: @font-size-base - 1px; */
      /* font-family: @code-family; */
      /* line-height: @line-height-base; */
      /* border: 1px solid @border-color-split; */
    }
      th,
      td {
        padding: 12px;
        /* border-color: @border-color-split; */
        border-width: 1px 0;
      }
  
      th {
        padding-top: 14px;
        border-width: 0 0 2px 0;
      }
  
      tbody tr {
        transition: all 0.3s;
      }
        /* &:hover {
          background: rgba(60, 90, 100, 0.04);
        }
      } */
  
      /* td { */
        td:first-child {
          width: 20%;
          /* color: @gray-8; */
          font-weight: 600;
        }
        td:nth-child(3) {
          width: 22%;
          /* font-size: @font-size-base - 1px; */
          word-break: break-all;
        }
        td:nth-child(4) {
          width: 16%;
          /* font-size: @font-size-base - 1px; */
        }
      
    /* } */
  
    hr {
      margin: 12px 0;
    }
  /* } */
  
  
  

 code{
    background: #f5f5f5 !important;
    color: rgba(0,0,0,.85) !important;
    text-shadow: none !important;
  }


  ul li{
    list-style-type:none;
  }



  /* 2nd css */




  markdown body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    color: #333;
  }
  
  markdown body > *:first-child {
    margin-top: 0 !important;
  }
  
  markdown body > *:last-child {
    margin-bottom: 0 !important;
  }
  
  markdown a {
    color: #4183C4;
    text-decoration: none;
  }
  
  markdown a.absent {
    color: #cc0000;
  }
  
  markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  markdown h1, 
  markdown h2, 
  markdown h3, 
  markdown h4, 
  markdown h5, 
  markdown h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
  }
  
  markdown h2:first-child, 
  markdown h1:first-child, 
  markdown h1:first-child + h2, 
  markdown h3:first-child, 
  markdown h4:first-child, 
  markdown h5:first-child, 
  markdown h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown h1:hover a.anchor, 
  markdown h2:hover a.anchor, 
  markdown h3:hover a.anchor, 
  markdown h4:hover a.anchor, 
  markdown h5:hover a.anchor, 
  markdown h6:hover a.anchor {
    text-decoration: none;
  }
  
  markdown h1 tt, 
  markdown h1 code {
    font-size: inherit;
  }
  
  markdown h2 tt, 
  markdown h2 code {
    font-size: inherit;
  }
  
  markdown h3 tt, 
  markdown h3 code {
    font-size: inherit;
  }
  
  markdown h4 tt, 
  markdown h4 code {
    font-size: inherit;
  }
  
  markdown h5 tt, 
  markdown h5 code {
    font-size: inherit;
  }
  
  markdown h6 tt, 
  markdown h6 code {
    font-size: inherit;
  }
  
  markdown h1 {
    font-size: 28px;
    color: black;
  }
  
  markdown h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }
  
  markdown h3 {
    font-size: 18px;
  }
  
  markdown h4 {
    font-size: 16px;
  }
  
  markdown h5 {
    font-size: 14px;
  }
  
  markdown h6 {
    color: #777777;
    font-size: 14px;
  }
  
  markdown p, 
  markdown blockquote, 
  markdown ul, 
  markdown ol, 
  markdown dl, 
  markdown li, 
  markdown table, 
  markdown pre {
    margin: 15px 0;
  }
  
  markdown hr {
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
  }
  
  markdown body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown body > h3:first-child, 
  markdown body > h4:first-child, 
  markdown body > h5:first-child, 
  markdown body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown a:first-child h1, 
  markdown a:first-child h2, 
  markdown a:first-child h3, 
  markdown a:first-child h4, 
  markdown a:first-child h5, 
  markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }
  
  markdown h1 p, 
  markdown h2 p, 
  markdown h3 p, 
  markdown h4 p, 
  markdown h5 p, 
  markdown h6 p {
    margin-top: 0;
  }
  
  markdown li p.first {
    display: inline-block;
  }
  
  markdown ul, 
  markdown ol {
    padding-left: 30px;
  }
  
  markdown ul :first-child, 
  markdown ol :first-child {
    margin-top: 0;
  }
  
  markdown ul :last-child, 
  markdown ol :last-child {
    margin-bottom: 0;
  }
  
  markdown dl {
    padding: 0;
  }
  
  markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }
  
  markdown dl dt:first-child {
    padding: 0;
  }
  
  markdown dl dt > :first-child {
    margin-top: 0;
  }
  
  markdown dl dt > :last-child {
    margin-bottom: 0;
  }
  
  markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }
  
  markdown dl dd > :first-child {
    margin-top: 0;
  }
  
  markdown dl dd > :last-child {
    margin-bottom: 0;
  }
  
  markdown blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
  }
  
  markdown blockquote > :first-child {
    margin-top: 0;
  }
  
  markdown blockquote > :last-child {
    margin-bottom: 0;
  }
  
  markdown table {
    padding: 0;
    border-collapse: collapse;
  }
  markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  
  markdown table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  
  markdown table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  
  markdown table tr th :first-child, 
  markdown table tr td :first-child {
    margin-top: 0;
  }
  
  markdown table tr th :last-child, 
  markdown table tr td :last-child {
    margin-bottom: 0;
  }
  
  markdown img {
    max-width: 100%;
  }
  
  markdown span.frame {
    display: block;
    overflow: hidden;
  }
  
  markdown span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
  }
  
  markdown span.frame span img {
    display: block;
    float: left;
  }
  
  markdown span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
  }
  
  markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }
  
  markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }
  
  markdown span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }
  
  markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }
  
  markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }
  
  markdown span.align-right span img {
    margin: 0;
    text-align: right;
  }
  
  markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
  }
  
  markdown span.float-left span {
    margin: 13px 0 0;
  }
  
  markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }
  
  markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }
  
  markdown code, 
  markdown tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  
  markdown pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }
  
  markdown .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }
  
  markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }
  
  markdown pre code, 
  markdown pre tt {
    background-color: transparent;
    border: none;
  }

