.editor-previewer{
    display: flex;
    justify-content: center;
    /* padding: 0 25px; */
    width: 100%;
    /* height: calc(100vh - 160px); */
    /* height: calc(100vh - 90px); */
    height: calc(100vh - 60px);
    padding: 10px;
    gap: 10px;
  }

.md-editor{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
    padding: 10px 0;
}

.content{
    flex-grow: 1;
}

.md-parser{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
    padding: 10px 0;
    /* overflow: auto; */
}

.md-parser .content{
    overflow: auto;
}
.title{
    color:#10B981;
    padding: 5px 10px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}