<!-- <app-navbar></app-navbar> -->
<!-- <app-code-editor
  [code]="code"
  class="variable-textarea"
  (codeChange)="updateCode($event)"
></app-code-editor> -->
<!-- <app-markdown-parser [code]="'# Abcd'"></app-markdown-parser> -->
<div class="body-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="home-container">
  <!-- <router-outlet></router-outlet> -->
</div>

  <!-- <app-footer></app-footer> -->
  <!-- <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea> -->

</div>