<!-- <app-navbar></app-navbar> -->
<!-- <app-code-editor
  [code]="code"
  class="variable-textarea"
  (codeChange)="updateCode($event)"
></app-code-editor> -->
<!-- <app-markdown-parser [code]="'# Abcd'"></app-markdown-parser> -->
<!-- <div class="body-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="home-container">
  <app-body></app-body>
</div> -->

  <!-- <app-footer></app-footer> -->
  <!-- <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea> -->

<!-- </div> -->
<!-- <app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar> -->
<!-- <app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar> -->
<!-- <app-body
  [collapsed]="isSideNavCollapsed"
  ></app-body> -->
  
<app-navbar></app-navbar>
<router-outlet></router-outlet>
