<div class="sidebar">
    <ul class="nav-list">
        <li (click)="toggleEditor()" [ngClass]="editorActive?'sidebar-active':''">
            <fa-icon class="link-icon" style="font-size: 28px;" [icon]="iconEditor"></fa-icon>
            <span class="tooltip">Editor</span>
        </li>
        <li (click)="togglePreviewer()" [ngClass]="previewerActive?'sidebar-active':''">
            <fa-icon class="link-icon" style="font-size: 24px;" [icon]="iconPreview"></fa-icon>
            <span class="tooltip">Preview</span>
        </li>
        <li *ngIf="sectionAvailable" (click)="toggleSections()" [ngClass]="sectionActive?'sidebar-active':''">
            <fa-icon class="link-icon" style="font-size: 24px;" [icon]="iconSection"></fa-icon>
            <span class="tooltip">Section</span>
        </li>
        <li (click)="toggleDownload()" [ngClass]="downloadActive?'sidebar-active':''">
            <fa-icon class="link-icon" style="font-size: 24px;" [icon]="iconDownload"></fa-icon>
            <span class="tooltip">Download</span>
        </li>
    </ul>
    <div class="profile-section" style="color: white;">
        <ul>
            <li>
                <fa-icon class="link-icon" style="font-size: 24px;" [icon]="iconGitHub"></fa-icon>
                <span class="tooltip">Download</span>
            </li>
        </ul>
    </div>
</div>