.sidebar{
    background: hsl(220 10% 20%);
    transition: all .5s ease;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    width: 60px;
    height: calc(100vh - 48px);
    box-shadow: 0.063 rem 0 1.25rem 0 #8690a3;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid hsl(220 10% 10%);
    cursor: pointer;
}

.nav-list
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    gap: 10px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    justify-content: flex-end;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 50px;
    /* margin: 0 5px; */
    text-align: center;
    list-style: none;
    line-height: 50px;
    /* border-radius: 12px; */
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 100px;
    background: hsl(220 10% 20%);
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    display: block;
    opacity: 1;
    top: 50%;
}


.sidebar ul li:hover .link-icon{
    color: #fff;
}

.link-icon{
    color: #A0AABF;
    font-size: 24px;
}

.sidebar-active{
    border-left: 2px solid #10B981;
    color: #fff;
}


.sidebar-active .link-icon{
    color: #fff;
}

