<div class="sidebar-container">
    <div class="logo_content">
        <div class="logo">
            <!-- TOADD: icon -->

            <div class="logo_name">MarkDown Generator</div>
        </div>
        <!-- TOADD: switch btn -->
        <fa-icon (click)="sidebarCollapse()" [icon]="iconBars" id="btn"></fa-icon>
    </div>
    <ul class="nav_list">
        <li>
            <a href="">
                <!-- TO ADD: icon -->
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="">
                <!-- TO ADD: icon -->
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="">
                <!-- TO ADD: icon -->
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="">
                <!-- TO ADD: icon -->
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
    </ul>
    <div class="profile_content">
        <!-- other icons -->
    </div>
</div>