.sidebar-container{
    width: 100%;
    height: 100%;
}

.sidebar-container .logo-container .logo{
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.logo-container .logo .logo-icon{
    width: 50px;
}

.logo-container .logo-name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar-container #sidebarToggle{
    color: #fff;
    position: absolute;
    font-size: 20px;
    left: 90%;
    top: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar-container ul{
    margin-top: 20px;
}

.sidebar-container ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar-container ul li a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar-container ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar-container ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    color: #11101d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.sidebar-container ul li:hover .tooltip{
    transition: all 0.5s ease;
    display: block;
    opacity: 1;
    top: 50%;
}

.sidebar-container ul li a .link-icon{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.sidebar-container .link-title{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    display: none;
}

/* .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: all;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar.active ul li .tooltip{
    display: block;
}

.sidebar.active .links_name{
    opacity: 0;
    pointer-events: all;
    color: red;
}

.sidebar.active ~ .home-container{
    width: calc(100%-240px);
    left: 240px;
}
.home-container{
    position: absolute;
    height: 100%;
    width: calc(100%-78px);
    left: 78px;
    transition: all 0.5s ease;
} */


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* sidebar active */
.sidebar-container.active .logo-container .logo{
    opacity: 1;
    pointer-events: all;
}

.sidebar-container.active #sidebarToggle{
    left: 90%;
}

.sidebar-container.active ul li .tooltip{
    display: none;
}

.sidebar-container.active .link-title{
    opacity: 1;
    display: block;
    pointer-events: all;
}

.sidebar-container.active .theme-toggle{
    display: none;
}

.sidebar-container.active .toggler{
    display: block;
}

/* toggler */
#checkbox{
    display: none;
}
.toggler{
    display: block;
    display: none;

    width: 60px;
    height: 31px;
    border: 2px solid #4672fe;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.ball,
.sun,
.moon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ball{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #4672fe;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

.sun{
    left: 5px;
}

.moon{
    right: 5px;
}

#checkbox:checked + .ball{
    transform: translate(29px, -50%);
}