.popup-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
}

.popup-form .form-ctrl{
    margin: 10px 0;
}

.popup-form input[type='text']{
    border: none;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.popup-form input:focus{
    /* remove outlines of inputs on focus */
    outline: none;
    border-bottom: 2px solid #4d8dcd;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #242526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary{
    background-color: #242526;
    color: #fff;
}

.btn-secondary{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

.btn-control{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn:hover{
    transform: scale(0.98);
}

.ng-touched.ng-invalid input{
    border-bottom: 2px solid red;
}

.disabled{
    background-color: #e2e2e2;
    pointer-events: none;
}