.popup-grid{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.grid-container{
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 10px;
}

.grid-container h2{
    font-size: medium;
}

.grid{
    display: grid;
    gap: 5px;
    width:100%;
    padding: 5px;
    grid-template-columns: repeat(10,1fr);
}

.grid-item{
    border: 1px solid #242526;
    background-color: #e2e2e2;
    background: transparent;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.grid-item:hover{
    transform: scale(0.9);
}