<div class="sidenav" [ngClass]="sidebarCollapsed?'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="sidebarCollapsed">Angular</div>
        <button class="btn-close" *ngIf="sidebarCollapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a [routerLink]="[data.routelink]" class="sidenav-nav-link"
            routerLinkActive="active"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="sidebarCollapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>