<div class="body">
  <div class="collapsable-sidebar" [class.sidebar-collapsed]="sidebarCollapsed">
    
    <div *ngIf="!sidebarCollapsed" class="collapse-toggle flex" (click)="toggleSidebarCollapse()">
      <fa-icon [icon]="iconGrip" size="2x"></fa-icon>
    </div>
    <!-- if collapsed -->
    <div *ngIf="sidebarCollapsed" class="collapsed-icons title">
      <fa-icon (click)="toggleSidebarCollapse()" [icon]="iconSections"></fa-icon>
      <div>SECTIONS</div>
    </div>

    <!-- if expanded -->
    <div id="drag-boundary" *ngIf="!sidebarCollapsed" class="drag-container flex" cdkDropListGroup>

      <!-- <div #allSection="cdkDropList"
      class="box-list"
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="allSections"
      [cdkDropListConnectedTo]="[selectedSection]"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let section of allSections" cdkDrag>
        {{section.title}}
      </div>
    </div>
    
    <div #selectedSection="cdkDropList"
      class="box-list"
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="selectedSections"
      [cdkDropListConnectedTo]="[allSection]"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let section of selectedSections" cdkDrag>
        {{section.title}}
      </div>
    </div> -->






      <!-- All sections -->
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="allSections" 
      class="box-list">
        <!-- <div class="title">All sections</div> -->
        <div cdkDrag class="drag-box"
        cdkDragBoundary="#drag-boundary"
        *ngFor="let section of allSections; index as i">
          <div class="drag-handle"><fa-icon [icon]="iconMove" size="2x"></fa-icon></div>
          <div class="section">{{section.title}}</div> 
        </div>
      </div>

      <!-- Selected Sections -->
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="selectedSections" class="box-list">
        <!-- <div class="title">Selected Sections</div> -->
        <div cdkDrag class="drag-box" 
        cdkDragBoundary="#drag-boundary"
        *ngFor="let section of selectedSections; index as i">
          <div class="drag-handle" cdkDragHandle><fa-icon [icon]="iconMove" size="lg"></fa-icon></div>
          <div class="section" (click)="makeSectionActive(i)">{{section.title}}</div> 
          <div class="reset-section"><fa-icon [icon]="iconReset"></fa-icon></div>
        </div>
      </div>
    </div>
  </div>
  <div class="editor-previewer">
    <div class="md-editor flex-col">
      <div class="title">
        Editor
      </div>
      <app-code-editor [(code)]="activeSection.markdown" (codeChange)="generateEntireMarkup()" class="editor-component" *ngIf="selectedSections.length > 0"></app-code-editor>
      <div *ngIf="selectedSections.length === 0">Select a section</div>
    </div>
    <div class="md-parser flex-col">
      <div class="preview-tabs">
        <div class="tab" [class.tab-active]="sectionPreview" style="cursor: pointer;" (click)="togglePreview()">Section
          preview</div>
        <div class="tab" [class.tab-active]="!sectionPreview" style="cursor: pointer;" (click)="togglePreview()">Entire
          preview</div>
      </div>
      <app-markdown-parser *ngIf="sectionPreview && selectedSections.length > 0" [code]="activeSection.markdown" class="parser-component"></app-markdown-parser>
      <app-markdown-parser *ngIf="!sectionPreview" [code]="entireMarkup" class="parser-component"></app-markdown-parser>
    </div>
  </div>
</div>