/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import 'styles/themes.css';
@import 'styles/markdown.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background: linear-gradient(135deg,#282d2d,#212529); */
  /* color: #333 !important; */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
  position: relative;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* h1 a {
  text-decoration: none;
}

h1 a:hover {
  opacity: 0.87;
  text-decoration: underline;
} */

.body-container{
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  z-index: 0;
  position: relative;
  top: 60px;
  left: 60px;
  transition: all .5s ease;
  background-color: #f4f7fa;
  background-color: hsl(220 10% 20%);
  /* padding: 3rem; */
  /* padding: 20px; */
  /* padding: 10px; */
}

